<!-- Frame for the form -->
<div class="flex flex-col items-center flex-wrap justify-center">
<%= turbo_frame_tag "post_form" do %>
  <%= render "form", post: Post.new %>
<% end %>

<%= turbo_frame_tag "posts" do %>
  <%= render @posts %>
<% end %>
</div>
