<!-- Frame for the form -->
<div class="flex flex-row items-center flex-wrap justify-right">
<div class="one">
<%= turbo_frame_tag "post_form" do %>
  <%= render "form", post: Post.new %>
<% end %>
</div>

<div class="two">
<%= turbo_frame_tag "posts", class:"flex flex-col" do %>
  <%= render @posts %>
<% end %>
</div>
</div>
